.markdown-view .markdown-body .echarts-wrapper {
  position: relative;
}

.markdown-view .markdown-body .echarts-wrapper .echarts-action {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  text-align: right;
  opacity: 0;
  transition: opacity .2s;
}

.markdown-view .markdown-body .echarts-wrapper:hover .echarts-action {
  opacity: 1;
}

.markdown-view .markdown-body .echarts {
  width: 100%;
  height: 350px;
}
